@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('../fonts/OpenSans-Light-webfont.eot'), 
    url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'), 
    url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), 
    url('../fonts/OpenSans-Light-webfont.svg#DINNextLTArabic-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*************************************************************************************/

body {
    direction: ltr;
    text-align: left !important;
    font-family: 'OpenSans-Light-webfont';
}

.services h2{
    margin: 0 0 20px;
    text-align: left;
}

.N-notify h2,
.serv-top-content h2,
.add-serv .form h2 {
    text-align: left;
}

.footer .links ul li a:after,
.check input,
.checkmark,
.top-header .notification span.noti,
.services h2:after {
    right: auto;
    left: 0;
}

.add-serv .form .form-group span,
.add-serv .form .form-group ,
.form-group i {
    left: auto;
    right: 15px;
}

.serv-border {
    right: auto;
    left: -50%;
}

.close-btn,
.optional {
    right: 0;
    left: auto;
    top: -15px;
}

.slider-text,
.serv-top-content {
    right: auto;
    left: 50px;
}

.slider .form {
    left: auto;
    right: 50px;
}

.edit-info {
    right: 20px;
    left: auto;
}

.check {
    padding-right: 0;
    padding-left: 25px;
}

.fav-details .block-head span,
.block-footer a {
    margin-right: 0;
    margin-left: 20px;
}

.app img {
    float: right;
    transform: rotateY(180deg);
}

.office-img, .office-imgs .images, .oldImages {
    margin: 10px 10px 10px 0;
}

.add-serv .form .form-group span, .add-serv .form .form-group i {
    right: 15px;
    left: auto;
}

#address {
    width: 320px;
    padding: 0 20px 0 0;
}

.add-serv .form .form-group span.price {
    bottom: 8px;
    left: auto;
    right: 30px;
}

.H-selector+.form-group .form-control {
    padding-left: 85px;
    padding-right: 10px !important;
}

.H-selector,
.select2-container .select2-selection--single{
    right: auto;
    left: 0 !important;
}

.select2 + .fa-sort-down {
    right: 30px !important;
}

.select2-container .select2-selection--single {
    left: 0 !important;
}