@font-face {
    font-family: 'Cairo-Regular';
    src: url('../fonts/Cairo-Regular.eot'), 
    url('../fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/Cairo-Regular.woff') format('woff'), 
    url('../fonts/Cairo-Regular.ttf') format('truetype'), 
    url('../fonts/Cairo-Regular.svg#DINNextLTArabic-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Cairo:400,700');

/*************************************************************************************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    direction: rtl;
    font-family: 'Cairo' , 'Cairo-Regular';
    text-align: right;
    position: relative;
}

.opacity {
    opacity: 0;
}

.clear {
    clear: both;
}

a,
a:hover,
a:focus {
    color: #191919;
    text-decoration: none;
    outline: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.mob-collaps,
.fixed-footer {
    display: none;
}

.wrapper {
    margin-top: 160px;
    min-height: 277px;
}

.btn-style {
    background-color: #efa54c;
    border: 1px solid #efa54c;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    min-width: 120px;
    margin: 20px auto;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
}

.btn-style:hover {
    background-color: transparent;
    color: #efa54c;
}

h2 {
    position: relative;
    display: block;
    text-align: center;
    color: #F37B19;
    font-size: 22px;
    padding: 0 0 15px 0;
    max-width: 200px;
    margin: 0 auto 40px;
}

h2:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 80px;
    background-color: #191919;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

.form-group {
    position: relative;
}

.form-control {
    border-radius: 30px;
    border: 1px solid #f37b19;
    color: #000;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    box-shadow: none;
    border-color: #191919;
}

.form-group i {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 15px;
}

select,
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}

.site-btn {
    display: block;
    margin: auto;
    background-color: #000;
    color: #fff;
    border: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.site-btn:focus {
    outline: none;
}

.site-btn:hover {
    background-color: #F37B19;
    border-color: transparent;
}

/* Start Loading */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
}

.loading {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
}

.left {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0) !important;
    -ms-transform: scaleX(0) !important;
    -moz-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
}

.right {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0) !important;
    -ms-transform: scaleX(0) !important;
    -moz-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
}


.loader {
    width: 100%;
    height: 100%;
    animation: spin 10s linear infinite;
    position: fixed;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 50%;
    
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    
    -webkit-transition: 2s;
    -ms-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
    
    -webkit-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    z-index: 99;
}

.loader img {
    position: absolute;
    width: 250px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 50%;
    
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wave-1 {
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 62%;
    left: 0;
    
    -webkit-transition: 9s;
    -ms-transition: 9s;
    -moz-transition: 9s;
    transition: 9s;
    
    -webkit-transition-duration: 0.9s;
    -ms-transition-duration: 0.9s;
    -moz-transition-duration: 0.9s;
    transition-duration: 0.9s;
    
    -webkit-transition-delay: 0.9s;
    -ms-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    transition-delay: 0.9s;
    
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left;
}

.wave-2 {
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 61%;
    right: 0;
    
    -webkit-transition: 9s;
    -ms-transition: 9s;
    -moz-transition: 9s;
    transition: 9s;
    
    -webkit-transition-duration: 0.9s;
    -ms-transition-duration: 0.9s;
    -moz-transition-duration: 0.9s;
    transition-duration: 0.9s;
    
    -webkit-transition-delay: 0.9s;
    -ms-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    transition-delay: 0.9s;
    
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right;
}

/* End Loading */

/* Start Top Header */

.top-header-content {
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}

.affix .top-header {
    padding: 5px 0;
}

.top-header .language {
    position: relative;
}

.dropdown-click {
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
}

.dropdown-content {
    position: absolute;
    min-width: 120px;
    left: 0;
    right: 0;
    margin: auto;
    top: 100%;
    transform-origin: top;
    opacity: 0;
    z-index: 10;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
}

.top-header-content .dropdown-content {
    top: 40px;
}

.affix .top-header-content .dropdown-content {
    top: 35px;
}

.dropdown-content > ul {
    position: relative;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    min-width: 100px;
}

.dropdown-content > ul:after {
    content: '';
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: auto;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    transform: rotate(45deg);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.dropdown-content > ul > li {
    position: relative;
    z-index: 2;
    font-weight: normal;
    line-height: initial;
    border-bottom: 1px solid #ddd;
}

.dropdown-content > ul > li:last-child {
    border-bottom: 0;
}

.dropdown-content > ul > li > a {
    display: block;
    padding: 6px 10px;
    transition: all 0.3s ease-in-out;
}

.dropdown-content > ul > li:first-child > a {
    border-radius: 9px 9px 0 0;
}

.dropdown-content > ul > li:last-child > a {
    border-radius: 0 0 9px 9px;
}

.dropdown-content > ul > li:hover > a {
    background-color: #F37B19;
    color: #fff;
}

.dropdown-click:hover .dropdown-content {
    opacity: 1;
    transform: scaleY(1);
}

.user-tools > ul {
    display: flex;
    justify-content: center;
}

.user-tools > ul > li {
    margin: 0 20px;
}

/* End Top Header */

/* Start Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    z-index: 999;
}

header .menu {
    position: relative;
    width: 100%;
    padding: 15px 0;
    z-index: 9;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 2px #ddd;
    transition: all 0.3s ease-in-out;
}

.affix .menu {
    padding: 5px 0;
}

.affix .menu .logo {
    width: 100px;
}

.affix .menu .nav-links > ul > li {
    line-height: 40px;
}

.menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .logo {
    position: relative;
    z-index: 9;
    top: 0;
    text-align: center;
    width: 150px;
    transition: all 0.3s ease-in-out;
}

/* .langu {
    position: absolute;
    left: 60px;
    color: #fff;
    background-color: #191919;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    display: none;
} */

.menu .logo img {
    width: 100%;
}

header .menu .nav-links {
    transition: all 0.3s ease-in-out;
}

.menu .nav-links > ul {
    text-align: center;
}

.menu .nav-links > ul > li {
    display: inline-block;
    line-height: 60px;
    margin: 0 25px;
    font-size: 16px;
    color: #F37B19;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.menu .nav-links > ul > li > a {
    position: relative;
    color: #F37B19;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.menu .nav-links > ul > li > a:after,
.menu .nav-links > ul > li > a:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: 0;
    background-color: #191919;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.menu .nav-links > ul > li > a:after {
    left: 0;
    transform-origin: right;
}

.menu .nav-links > ul > li > a:before {
    right: 0;
    transform-origin: left;
}

.menu .nav-links > ul > li:hover > a:after,
.menu .nav-links > ul > li:hover > a:before,
.menu .nav-links > ul > li.active > a:after,
.menu .nav-links > ul > li.active > a:before {
    transform: scaleX(1);
}

.menu .dropdown-content {
    min-width: 150px;
}

.mob-collaps {
    position: absolute;
    width: 25px;
    height: 60px;
    z-index: 999;
    color: rgb(255, 255, 255);
    left: 20px;
    bottom: 8px;
    cursor: pointer;
    transition:  all 0.3s ease-in-out;
}

.mob-collaps span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #f37b19;
    border-radius: 30px;
    margin: 4px 0;
}

.mob-collaps span:first-child {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:first-child.rotate {
    width: 24px;
    -webkit-transform: rotate(-45deg) rotateY(360deg);
    -ms-transform: rotate(-45deg) rotateY(360deg);
    -moz-transform: rotate(-45deg) rotateY(360deg);
    transform: rotate(-45deg) rotateY(360deg);
    
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 27px;
    opacity: 1;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:nth-child(2).none {
    left: -100px;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:nth-child(3) {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:nth-child(3).rotate2 {
    width: 24px;
    -webkit-transform: rotate(45deg) rotateY(360deg);
    -ms-transform: rotate(45deg) rotateY(360deg);
    -moz-transform: rotate(45deg) rotateY(360deg);
    transform: rotate(45deg) rotateY(360deg);
    top: 20px;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

/* End Header */

/* Start Slider */

.slider {
    position: relative;
    margin-top: 130px;
    padding: 40px 0;
}

.slider .slider-content {
    position: relative;
    padding: 10px;
}

.slider .owl-carousel img {
    width: 100%;
    border-radius: 10px;
    height: 450px;
}

.owl-carousel .owl-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.services-slider.owl-carousel .owl-dots {
    bottom: -5px;
}

.bottom-slider.owl-carousel .owl-dots {
    display: none !important;
}

.owl-carousel .owl-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(25, 25, 25, 0.4);
    border-radius: 50%;
    margin: 0 5px;
    transition: all 0.3s ease-in-out
}

.owl-carousel .owl-dot.active {
    background-color: #191919;
}

.slider-text {
    position: absolute;
    max-width: 550px;
    top: 50%;
    right: 50px;
    background-color: rgba(243, 123, 25, 0.65);
    color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transform: translateY(-50%);
}

.slider-text p {
    margin: 0;
}

.slider .form {
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 300px;
    padding: 40px 20px;
    border-radius: 20px;
    transform: translateY(-50%);
}

.slider .form > p {
    color: #F37B19;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.slider-border img {
    position: absolute;
    width: 100px;
    border-radius: 0;
}

.slider-border img:first-child {
    top: 0;
    right: 0;
}

.slider-border img:nth-child(2) {
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.slider-border img:nth-child(3) {
    bottom: 0;
    right: 0;
    transform: rotateX(180deg);
}

.slider-border img:nth-child(4) {
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

/* End Slider */

/* start Services */

.services {
    position: relative;
    padding: 40px 0;
    overflow: hidden;
}

.services h2 {
    margin: 0 0 20px;
    text-align: right;
}

.services h2:after {
    height: 2px;
    right: 0;
    left: auto;
}

.serv-content {
    position: relative;
    padding: 40px 0;
}

.serv-txt {
    line-height: 1.8;
    width: 255px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    background-color: #fff;
    margin: 40px auto;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.serv-txt:hover {
    box-shadow: 0 0 10px #F37B19;
}

.serv-border {
    position: absolute;
    border: 10px solid #191919;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    right: -50%;
    top: 0;
    z-index: 1;
}

.our-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}

.our-services li {
    position: relative;
    margin: 20px 0 0;
    overflow: hidden;
}

.our-services li p {
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

.our-services li a {
    display: block;
    width: 320px;
    max-width: 100%;
    height: 320px;
    background-color: #f37b19;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.our-services li img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.our-services li:hover a,
.our-services li:hover a img {
    border-radius: 30%;
}

.services .site-btn {
    width: 150px;
    margin:  20px auto 0;
}

/* End Services */

/* Start Who */

.who {
    position: relative;
    padding: 40px 0;
    overflow: hidden;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
}

.who.wrapper {
    border: 0;
}

.who .row {
    justify-content: center;
}

.about {
    position: relative;
    width: 350px;
    height: 350px;
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid #191919;
    background-color: #fff;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.about:hover {
    background-color: #f37b19;
    color: #fff;
    border-color: transparent;
}

.about-head {
    width: 100px;
    height: 100px;
    border: 2px solid #191919;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.about-head h4 {
    margin: 0;
    font-size: 18px;
}

.about:hover .about-head {
    background-color: #191919;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
    max-height: 236px;
    overflow: hidden;
}

.about-content p{
    max-height: 200px;
    overflow: hidden;
}

/* End Who */

/* Start App */

.app {
    position: relative;
    padding: 80px 0 0;
    overflow: hidden;
}

.app h4 span {
    color: #f37b19;
}

.app p {
    line-height: 1.8;
    margin: 40px 0;
    font-weight: 500;
    font-size: 18px;
    max-width: 460px;
}

.app-icon {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.app-icon li {
    margin: 0 20px;
    font-weight: bold;
}

.app-icon i {
    font-size: 40px;
    font-weight: normal;
    color: #191919;
    transition: all 0.3s ease-in-out;
}

.app-icon li p {
    margin: 5px 0 0;
}

.app-icon li:hover i {
    color: #f37b19;
    transform: rotateY(360deg) translateY(-15px);
}

.app img {
    max-width: 400px;
    display: block;
    float: left;
}

/* End App */

/* Start Footer */

.footer {
    position: relative;
    padding: 20px 0;
    overflow: hidden;
    background-color: #f37b19;
}

.footer .row {
    align-items: center;
}

.footer .logo {
    text-align: center;
    margin-bottom: 20px;
}

.footer .logo img {
    width: 150px;
}

.footer .links ul li a {
    padding: 0 20px;
    line-height: 2;
    position: relative;
    color: #fff;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.footer .links ul li a:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.footer .links ul li:hover a {
    opacity: 1;
    padding: 0 25px;
}

.footer .contact p,
.footer .contact a,
.footer .reserve p {
    color: #fff;
}

.footer .contact p,
.footer .reserve p {
    font-size: 14px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0;
}

.social li i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.social li:hover i {
    background-color: #fff;
    color: #f37b19;
    transform: translateY(-10px) rotateY(360deg);
}

.footer .reserve p a {
    color: #191919;
    font-weight: bold;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
}

.footer .reserve p:hover a {
    padding-right: 5px;
}

/* End Footer */

/* Start Fixed Footer */

.fixed-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #111;
    z-index: 9;
}

.fixed-footer > ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.fixed-footer > ul li {
    flex-grow: 1px;
    list-style: none;
    text-align: center
}

.fixed-footer > ul li a,
.fixed-footer > ul li {
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
}

.fixed-footer > ul li a.active {
    color: #f37b19;
}

.fixed-footer > ul li span {
    display: block;
}

.notification span.noti {
    width: 12px;
    height: 12px;
    line-height: 12px;
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    right: 0;
    margin: auto;
    background-color: #F37B19;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
}

.top-header .notification span.noti {
    left: auto;
    right: -3px;
    top: 0px;
}

/* End Fixed Footer */

/* Start Mobile Profile Links */

.profile-links {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
}

.profile-links .links {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.profile-links .links ul li {
    text-align: center;
    line-height: 35px;
    margin: 20px 0;
}

.profile-links .links ul li a {
    position: relative;
    color: #fff;
    padding: 5px 10px;
    min-width: 120px;
    display: inline-block;
}

.profile-links .links ul li a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 45px;
    background-color: #f37b19;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

.profile-links .N-close {
    position: absolute;
    float: none;
    left: 30px;
    top: 50px;
    text-shadow: none;
    color: #f37b19;
    opacity: 1;
}

/* End Mobile Profile Links */

/* Start Login Form */

.login.wrapper {
    margin-top: 200px;
}

.login .form {
    max-width: 400px;
    margin: 0 auto 40px;
    padding: 40px 20px;
    border: 1px solid #adadad;
    border-radius: 30px;
}

.form .form-txt {
    text-align: center;
}

.form .form-txt p {
    margin-bottom: 20px;
}

.form-txt a {
    text-decoration: underline;
    font-size: 14px;
}

.form h2 {
    margin: 0 auto;
}

.form h2:after {
    display: none;
}

.login-btn.site-btn {
    background-color: #F37B19;
    border: 0;
    margin-bottom: 20px;
}

.login-btn.site-btn:hover {
    color: #fff;
    background-color: #191919;
}

.form .site-btn {
    margin: 5px 0 10px;
}

.forget-password {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.or {
    position: relative;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.or span {
    position: relative;
    padding: 0 10px;
    background-color: #fff;
    z-index: 9;
}

.or:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}

.login .checkbox {
    text-align: center;
}

.login .checkbox span {
    cursor: pointer;
    text-decoration: underline;
}

/* End Login form */

/* Start Contact Us */

.contact {
    padding-bottom: 40px;
}

.contact .form .form-txt p {
    margin-bottom: 10px;
}

.contact .form-group {
    margin-bottom: 10px;
}

.contact .form p {
    text-align: center;
}

.contact .form p.or {
    margin: 0;
}

.contact .form p.or:after {
    display: none;
}

.form textarea {
    min-height: 150px;
    resize: none;
}

.contact .form {
    margin: 0 auto;
    padding: 0 20px;
    border: 0;
}

.map {
    border: 1px solid #a2a2a2;
    border-radius: 30px;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #a2a2a2;
}

.map p {
    padding: 15px 0;
    text-align: center;
    color: #f37b19;
}

/* End Contact Us */

/* Start Services */

.service-img {
    position: relative;
    margin: 0 0 20px;
    border-radius: 30px;
    overflow: hidden;
}

.service-img:after {
    content: '';
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.service-img img {
    width: 100%;
    height: 250px;
}

.serv-top-content {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 250px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 99;
}

.serv-top-content h2 {
    margin: 0;
    color: #fff;
    text-align: right;
}

.serv-top-content h2:after {
    display: none;
}

.serv-top-content p {
    margin-bottom: 10px;
}

.page-links {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-links:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(112, 112, 112, 0.45);
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.page-links .site-btn.login-btn {
    margin: 0;
}

.page-links ul.links {
    display: flex;
    background-color: #fff;
    padding: 0 0 0 5px;
}

.page-links ul.links li a {
    color: #F37B19;
    margin-left: 5px;
}

.page-links .filter {
    background-color: #fff;
    padding-right: 5px;
}

.serv-blocks {
    position: relative;
    padding: 40px 0;
}

.serv-blocks .row {
    justify-content: center;
}

.block {
    border: 1px solid #d4d4d4;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto 20px;
    height: 310px;
    transition: all 0.3s ease-in-out;
}

.block > a {
    display: block;
    overflow: hidden;
}

.block img {
    width: 100%;
    height: 200px;
    transition: all 0.3s ease-in-out;
}

.block:hover {
    box-shadow: 0 0 10px #F37B19;
}

.block:hover img {
    transform: scale(1.1);
}

.block-txt {
    /*padding: 15px 20px;*/
    padding: 0 20px;
}

.block-head,
.block-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-head h4,
.block-head h4 a {
    font-size: 18px;
    margin: 0;
    color: #F37B19;
}

.block-body p {
    font-weight: bold;
}

.block-body p span,
.block-body p a {
    font-weight: normal;
    color: #000;
}

.block-footer p {
    color: rgba(25, 24, 23, 0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 215px;
}

.block-footer a {
    text-decoration: underline;
    margin-right: 10px;
    color: #F37B19;
}

.pagination {
    justify-content: center;
}

.pagination a,
.pagination span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 22px;
    text-align: center;
    background-color: #F37B19;
    opacity: 0.8;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}

.pagination a:hover {
    color: #fff;
}

.pagination a.active {
    opacity: 1;
}

.pagination li:first-child a,
.pagination li:last-child a {
    background-color: #191919;
    opacity: 1;
}

.space {
    margin:  0 0 40px;
}

.space img {
    width: 100%;
    height: 150px;
}

.add-service a {
    padding: 0 10px;
}

.serv-blocks .site-btn {
    width: 150px;
}

/* End Services */

/* Start Services Details */

.N-products {
    padding: 40px 0;
}

.N-slider {
    position: relative;
    border: 1px solid #b3b3b3;
    border-radius: 30px;
    overflow: hidden;
}

.N-slider #owl-hash-URL-2 .fa-heart {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
}

.N-slider #owl-hash-URL-2 .item {
    height: 400px;
}

.N-slider #owl-hash-URL-2 .item img {
    height: 100%;
    width: 100%;
}

.N-slider #owl-hash-URL-2 p {
    text-align: center;
    letter-spacing: 10px;
    color: #000;
    font-weight: bold;
    position: relative;
    bottom: -100px;
}

.N-slider .owl-hash-nav-2 {
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 20px 5px;
    margin: 0 35px;
    z-index: 99;
}

.N-slider .owl-hash-nav-2 li.item {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.6;
    margin: 0 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.N-slider .owl-hash-nav-2 li.item img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.N-slider .owl-hash-nav-2 li.item.active {
    opacity: 1;
}

.N-slider .owl-carousel {
    direction: ltr;
}

.N-slider .owl-carousel .owl-dots {
    display: none !important;
}


.N-slider .owl-carousel .owl-nav .owl-prev,
.N-slider .owl-carousel .owl-nav .owl-next {
    display: inline-block;
    position: absolute;
    bottom: -65px;
    font-size: 20px;
    color: #F37B19;
    z-index: 999;
}

.N-slider .owl-carousel .owl-nav .owl-prev {
    left: 20px;
}

.N-slider .owl-carousel .owl-nav .owl-next {
    right: 20px;
}

.N-details h3 {
    font-size: 20px;
}

.N-price {
    color: #f37b19;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 5px;
}

.N-details .details {
    line-height: 2;
}

.N-details .details p {
    word-break: break-all;
}

.buttons-serv span,
.buttons-serv .cancel {
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    min-width: 200px;
    height: 40px;
    line-height: 40px !important;
    border: 1px solid #f37b19;
    color: #f37b19;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.buttons-serv span:hover {
    background-color: #F37B19;
    color: #fff;
}

.buttons-serv span.like {
border: 0;
font-size: 22px;
}

.buttons-serv span.like:hover {
    background-color: transparent;
    color: #F37B19;
    /* cursor: auto; */
}

.share .social li a, 
.copy i {
    color: #d0d0d0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.share .social li:hover i {
    transform: none;
}

 .copy {
    margin: 10px 0;
}

 .copy i,
 .copy img {
    font-size: 20px;
    margin-top: 15px;
    width: 20px;
    cursor: pointer;
}

 .copy i:hover {
    color: #F37B19;
}

 .N-share .map {
    cursor: pointer;
}

 .N-share .map img {
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #a2a2a2;
}

 .modal-content {
    border-radius: 30px;
    overflow: hidden;
}

 .modal #map {
    border: 0;
}

 .modal-footer p {
    width: 100%;
    text-align: center;
}

/* End Services Details */

/* Start Search Result */

.search-result {
    padding: 40px 0 20px;
}

.search-result .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-result .row {
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* End Serach Result */

/* Start Condition Modal */

.conditions .modal-header,
.conditions .modal-footer {
    border: 0;
}

.conditions .modal-header .close {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.conditions .modal-body {
    padding: 15px;
}

.conditions .modal-body h5 {
    color: #f37b19;
    font-size: 18px;
}

.conditions .modal-body p {
    border: 1px solid #f37b19;
    padding: 10px;
    height: 250px;
    overflow: hidden auto;
    line-height: 2;
}

.conditions .modal-footer button {
    width: 150px;
    margin: 0;
}

/* End Condition Modal */

/* Start Reservation */

.form h5 {
    font-size: 16px;
    color: #f37b19;
    margin: 20px 0;
}

.form label {
    font-weight: bold;
    color: #f37b19;
    font-size: 14px;
}

.datetimepicker-input {
    text-align: right;
}

.input-group.date {
    direction: ltr;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;
}

.bootstrap-datetimepicker-widget table td, 
.bootstrap-datetimepicker-widget table th {
    border: 0;
}

.reservation {
    padding: 40px 0;
}

.reservation .form {
    position: relative;
}

.payment-form {
    max-width: 500px;
}

.reservation-btn .login-btn.site-btn {
    width: 200px;
    min-width: 150px;
    margin: 0;
    cursor: pointer;
}

.reservation .details-txt {
    line-height: 2;
}

.payment-form span {
    font-size: 12px;
    margin-bottom: 20px;
    display: inline-block;
}

.reservation-btn {
    display: flex;
    justify-content: flex-end;
}

.no-noty-alert {
    background-color: #f37b18;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
}

/* End Reservation */

/* Start User Profile */

.user-profile {
    position: relative;
    padding: 40px 0;
}

.nav-tabs {
    justify-content: center;
}

.nav-tabs .nav-link {
    border: 0;
    margin: 0 40px;
    font-size: 18px;
    color: #191919;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: 0;
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #F37B19;
}

.tab-content {
    padding: 40px 0 0;
}

.account-info {
    line-height: 2;
}

.account-info p {
    font-weight: bold;
}

.account-info p span {
    font-weight: normal;
    font-size: 14px;
}

.change-password {
    margin-top: 20px;
}

#account {
    position: relative;
}

.edit-info {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    cursor: pointer;
}

.change-password span {
    cursor: pointer;
    color: #F37B19;
    text-decoration: underline;
}

.form .reservation-btn .login-btn.site-btn {
    min-width: 150px;
}

.modal .account label {
    color: #F37B19;
    font-weight: normal;
}

.modal .account .form-control {
    text-align: center;
    font-size: 14px;
}

.optional {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
}

.favourites {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a9a9a9;
    padding: 0 0 20px;
    margin-bottom: 20px;
}

.fav-details .block-head {
    justify-content: flex-start;
}

.fav-details .block-head h4 {
    color: #191919;
}

.fav-details .block-body span,
.fav-details .block-head span {
    color: #F37B19;
    font-weight: bold;
}

.fav-details .block-head span {
    cursor: pointer;
    margin-right: 20px;
}

.fav-block {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.fav-img {
    position: relative;
    width: 150px;
    height: 115px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #a2a2a2;
}

.fav-img img {
    width: 100%;
    height: 100%;
}

.fav-serv {
    margin-left: 30px;
}

.fav-serv .social li:first-child {
    border-left: 1px solid #757575;
    padding-left: 20px;
}

.fav-serv .social li:nth-child(2) {
    margin-right: 20px;
}

.modal-body.like {
    padding: 40px 0;
}

.modal-body.like p {
    text-align: center;
    margin-bottom: 20px;
    color: #f37b19;
    font-size: 18px;
}

.modal-body.like .like-btn {
    display: flex;
    justify-content: center;
}

.like-btn .site-btn {
    width: 150px;
    margin: 0 5px;
}

.favourites .buttons-serv p {
    font-weight: bold;
    font-size: 15px;
}

.favourites .buttons-serv p b {
    font-weight: normal;
}

.close-btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #757474;
    cursor: pointer;
}

/* End User Profile */

/* Start Add Services */

.add-serv {
    position: relative;
    padding: 40px 0;
}

.add-serv .form h2 {
    text-align: right;
    margin: 0 0 20px;
}

.office-imgs,
.office-imgs .default-img,
/*.default-img*/
.img-block,
.gallery
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.office-img,
.office-imgs .images,
.oldImages{
    position: relative;
    margin: 10px 0 15px 10px;
}

.office-img img,
.office-imgs .images img,
.oldImages img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.office-img i,
.images .close,
.oldImages .close{
    position: absolute;
    top: -15px;
    color: rgba(60, 65, 76, 0.6);
    cursor: pointer;
    border: 0;
    right: 0;
    left: auto;
    font-size: 14px;
    line-height: 1;
    background-color: transparent;
    width: auto;
    height: auto;
    opacity: 1;
}

.office-imgs .upload-img {
    position: relative;
}

.office-imgs .upload-img input[type="file"] {
    opacity: 0;
    width: 100px !important;
    height: 100px !important;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 0;
}

.upload-img i {
    background-color: rgba(60, 65, 76, 0.6);
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.add-serv .form .form-group span.price,
.add-serv .form .form-group i {
    position: absolute;
    top: auto;
    bottom: 13px;
    transform: none;
    left: 15px;
}

.add-serv .form .form-group span.price {
    left: 35px;
}

.add-serv .form .form-group span {
    bottom: 10px;
}

.add-price {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

.specify-price-content {
    position: relative;
}

/* End Add Services */

/* Start Checkbox */

.check {
    display: block;
    position: relative;
    padding-right: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    color: #191919 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
  
  .checkmark {
    position: absolute;
    right: 0;
    height: 15px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #f37b19;
  }
  
  .check input:checked ~ .checkmark {
    background-color: #F37B19;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  
  .check .checkmark:after {
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* End Checkbox */

/* Start Notification */

.N-notify h2 {
    text-align: right;
    max-width: 100%;
}

.N-notify h2:after {
    display: none;
}

.N-notify .favourites .buttons-serv p b {
    color: #F37B19;
    margin: 0 10px;
}

.N-notify .favourites .buttons-serv p {
    line-height: 2;
}

.site-btn.login-btn.cancel {
    color: #fff;
    line-height: 40px !important;
}

.modal-body.like.apply {
    padding: 40px;
}

.apply p {
    font-weight: bold !important;
    text-align: right !important;
    color: #191919 !important;
    font-size: 16px !important;
}

/* .apply p.info {
    font-weight: bold;
    text-align: right;
    color: #191919;
    font-size: 16px;
} */

/* End Notification */

/* Start Media Query */

/*Smat Phone And Tablet*/

@media(max-width:767px) {

    .overlay {
        display: none;
    }

    .user-tools {
        display: none;
    }

    .language {
        display: block;
        margin: auto;
    }

    h2 {
        font-size: 18px;
    }

    .mob-collaps,
    .fixed-footer {
        display: block;
    }

    .menu .logo {
        top: 0;
        width: 115px;
    }

    .menu .logo img {
        width: 100%;
    }

    .menu .nav-links > ul {
        position: fixed;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        right: 0px;
        padding-right: 20px;
        height: 100%;
        padding-top: 130px;
        transform-origin: right;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    .menu .nav-links ul li {
        display: block;
        line-height: 45px !important;
        margin: 0;
        text-align: right;
        padding-right: 20px;
        font-size: 14px;
    }

    .menu .nav-links ul.nav-open {
        transform: translateX(0);
    }

    .menu .nav-links > ul > li > a:after, 
    .menu .nav-links > ul > li > a:before {
        background-color: #ffffff;
    }

    .nav-links .dropdown-click:hover .dropdown-content {
        width: 180px;
        right: 25px;
        left: 0;
        top: 0;
        margin: auto;
        height: 350px;
        overflow: auto;
        border-radius: 10px;
    }

    .menu .nav-links ul li {
        padding: 0;
    }

    .footer {
        display: none;
    }

    .slider {
        margin-top: 110px;
    }

    .slider .form {
        position: relative;
        left: 0;
        transform: none;
        margin: auto;
    }

    .slider .form > p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .slider .owl-carousel img {
        height: 200px;
    }

    .slider-text {
        display: none;
    }

    .serv-txt {
        font-size: 14px;
        text-align: center;
    }

    .serv-content {
        padding: 1px 0;
    }

    .our-services li {
        margin: 15px 0 0;
        font-size: 14px;
    }
    
    .our-services li a {
        width: 120px;
        height: 120px;
    }

    .our-services li img {
        width: 100px;
        height: 100px;
    }

    .services .site-btn {
        width: 100px;
        margin: 10px auto 0;
        font-size: 14px;
    }

    .who {
        padding-bottom: 0;
    }

    .about {
        width: 290px;
        height: 290px;
        margin: 20px auto 40px;
    }

    .about-head {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .about-content {
        padding: 65px 20px;
    }
    
    .whos:nth-child(2n+1) .about {
        background-color: #f37b19;
        color: #fff;
        border-color: transparent;
    }

    .whos:nth-child(2n+1) .about .about-head {
        background-color: #191919;
        color: #fff;
    }

    .app {
        padding: 40px 0 60px;
    }

    .app h4 {
        font-size: 16px;
    }

    .app p {
        font-size: 14px;
        margin: 20px 0 30px;
    }

    .app-icon i {
        font-size: 35px;
    }

    .app img {
        width: 100%;
        float: none;
        margin-top: 20px;
    }

    .fixed-footer .dropdown-content {
        top: auto;
        bottom: 100%;
        right: auto;
        left: 0;
        transform-origin: bottom;
    }

    .fixed-footer .dropdown-content a {
        color: #191919;
    }

    .fixed-footer .dropdown-content > ul:after {
        top: auto;
        bottom: -5px;
    }

    .login,
    .wrapper {
        padding-bottom: 60px !important;
    }

    .login.wrapper {
        margin-top: 160px;
    }

    .map {
        margin-bottom: 20px;
    }

    #map {
        height: 200px;
    }

    .map p {
        padding: 10px;
        font-size: 14px;
    }

    .serv-top-content {
        right: 10px;
    }

    .block {
        position: relative;
        height: auto;
    }

    .block:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 2;
    }

    .block-txt {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        width: 100%;
        padding: 0 10px;
        color: #fff;
    }

    .block-body p span,
    .block-footer p,
    .block-footer a {
        color: #fff;
    }

    .N-products {
        padding: 0;
    }

    .N-slider .owl-hash-nav-2 {
        margin: 0 10px;
    }

    .N-slider #owl-hash-URL-2 .item {
        height: 200px;
    }

    .N-slider .owl-hash-nav-2 li.item {
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .N-slider .owl-carousel .owl-nav .owl-prev, 
    .N-slider .owl-carousel .owl-nav .owl-next {
        bottom: -52px;
        font-size: 15px;
    }

    .N-slider .owl-carousel .owl-nav .owl-prev {
        left: 3px;
    }

    .N-slider .owl-carousel .owl-nav .owl-next {
        right: 3px;
    }

    .search-result {
        padding: 0;
    }

    .search-result .row {
        width: auto;
    }

    .user-profile {
        padding: 0;
    }

    .nav-tabs .nav-link {
        margin: 0 5px;
        font-size: 16px;
    }

    .edit-info {
        position: relative;
        left: 0;
        margin: auto;
        top: 0;
        transform: none;
        width: 200px;
        margin-top: 20px;
        cursor: pointer;
    }

    .fav-img {
        width: 100%;
    }

    .fav-img:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .fav-details {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
    }

    .fav-details .block-head h4,
    .fav-details .block-body a {
        color: #fff;
    }

    .fav-serv {
        margin-left: 0;
        margin: 10px auto 0;
    }

    .close-btn {
        top: -20px;
    }

    .add-serv {
        padding: 0;
    }

    .office-imgs, .office-imgs .default-img, .img-block, .gallery {
        justify-content: center;
    }

    .office-img img, .office-imgs .images img,
    .office-imgs .upload-img input[type="file"],
    .upload-img i {
        width: 85px !important;
        height: 85px !important;
        line-height: 85px;
    }

    .specify-price-content .close-btn {
        top: 0;
        left: 10px;
    }

    .reservation-btn {
        justify-content: center;
    }

    #address {
        width: 260px !important;
    }

}
/*Small Screen*/

@media(min-width:768px) and (max-width:991px) {

    .select2-container .select2-selection--single {
        width: auto;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 15px;
    }

    .slider-text {
        max-width: 300px;
        line-height: 2;
        right: 20px;
    }

    .our-services li {
        margin: 15px 0 0;
        font-size: 14px;
    }
    
    .our-services li a {
        width: 120px;
        height: 120px;
    }

    .our-services li img {
        width: 100px;
        height: 100px;
    }

    .app img {
        width: 100%;
    }

    .N-slider #owl-hash-URL-2 .item {
        height: 300px;
    }

    .N-slider .owl-carousel .owl-nav .owl-prev, 
    .N-slider .owl-carousel .owl-nav .owl-next {
        bottom: -100px;
    }

    .N-share .map img {
        height: 150px;
    }

    .favourites {
        justify-content: center;
    }

    .N-noty-all .favourites {
        justify-content: space-between;
    }

    .office-img img, .office-imgs .images img,
    .office-imgs .upload-img input[type="file"],
    .upload-img i {
        width: 90px !important;
        height: 90px !important;
        line-height: 90px !important;
    }

    .form label {
        font-size: 12px;
    }
    
}
/*Medium Screen*/

@media(min-width:992px)and (max-width:1199px) {
    
    .slider-text {
        max-width: 500px;
    }
    
}
/*Larger Screen*/


/* End Media Query */
.oldGallery  .oldImages  img{
    width: 100px;
    height: 100px;
    border-radius: 4px;

}

#address {
    font-size: 14px;
    padding: 0 0 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 325px;
    white-space: nowrap;
    display: inline-block;
}

.share-icon {
    text-align: center;
    display: block;
    margin: 15px 0;
    font-size: 18px;
    color: #756f62;
    cursor: pointer;
}
.N-details h4{
    font-size: 30px;
    font-weight: bold;
    color: #f37b19;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbb;
}
.N-details .new-price h5{
    font-size: 22px;
    font-weight: bold;
    color: #f37b19;

}
.N-details .new-price p{
    color: #6b6969;
    padding-bottom: 10px;
}
.N-details .new-price  p span{
    padding-left: 5px;
    font-weight: 600;
}
.N-details .new-price{
    border-bottom: 1px solid #bbb;
    padding-bottom: 20px;
}

.N-details .new-price h6 {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 0 3px 0;
}
.N-products .row{
    width: 100%;
}
.new-p{
    padding: 14px 0;
    border-bottom: 1px solid #bbb;

}
.N-details h3 {
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bbb;
    font-weight: 600;
}
.details {
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
    padding: 15px 0;
}
.details p{
    padding-bottom: 10px;
    max-height: 195px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.details a{
    color:#f37b19;
}

.select2-container {
    display: block;
}

.select2-container .select2-selection--single {
    height: 40px;
}

.select2-dropdown.select2-dropdown--below,
.select2-dropdown.select2-dropdown--above{
    width: 65px !important;
}

.select2-results__options {
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid #aaa;
}

.details p.p-show {
    height: auto !important;
    max-height: 100% !important;
}